<div class="content">
    <div class="container">
        <div class="alert alert-success" ng-show="successMessage">
            {{successMessage.message}}
            <a class="pull-right" ng-show="successMessage.redirectLink" href="{{successMessage.redirectLink}}">{{successMessage.redirectText}}</a>
        </div>
        <div class="alert alert-danger" ng-show="errorMessage">
            {{errorMessage.message}}
            <a class="pull-right" ng-show="errorMessage.redirectLink" href="{{errorMessage.redirectLink}}">{{errorMessage.redirectText}}</a>
        </div>
        <div ng-show="poll">
            <h1>
                {{poll.name}}
                <div class="pull-right">
                    <button class="btn btn-primary" ng-click="updateResponses(poll)">UPDATE</button>
                    <button class="btn btn-danger" ng-click="openDeletePollModal(poll)">DELETE</button>
                </div>
            </h1>
            <em>Sent at : {{poll.messages[0].sentTimestamp | timestampFilter}}</em>
            <h6>Description:</h6>
            <p>{{poll.description}}</p>
            <h6>Question:</h6>
            <p>{{poll.question}}</p>
            <hr/>
            <div id="stats">
                <div class="row">
                    <div class="col-sm-6">
                        <h6>{{poll.stats.repliedMessages}}/{{poll.messages.length}} have responded
                            ({{poll.stats.repliedMessages / poll.messages.length * 100 | number:1}}%)</h6>
                        <p class="text-danger" ng-show="result.invalidOption > 0">*{{result.invalidOption}} replies can not be classified.</p>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Option</th>
                                    <th>Alt-Values</th>
                                    <th>#</th>
                                    <th>%</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="option in poll.options">
                                    <td>{{option.value}}</td>
                                    <td>
                                        <p ng-show="option.alternateValues.length == 0">None</p>
                                        <ul ng-show="option.alternateValues.length > 0">
                                            <li ng-repeat="alternateValue in option.alternateValues">{{alternateValue}}</li>
                                        </ul>
                                    </td>
                                    <td>{{result.validOptions[option.value] || 0}}</td>
                                    <td>{{(result.validOptions[option.value] || 0) / poll.stats.repliedMessages * 100 | number:1}}%</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-push-1 col-sm-5">
                        <label for="graph-type"><strong>Graph Type:</strong></label>
                        <select class="form-control" id="graph-type" ng-init="graphType = 'pie' " ng-model="graphType" ng-change="graphTypeChange()">
                            <option value="pie" ng-selected="true">Pie Graph</option>
                            <option value="bar">Bar Graph</option>
                            <option value="doughnut">Doughnut Graph</option>
                        </select>
                        <canvas class="chart-base" chart-type="graphType" chart-data="chartData" chart-labels="chartLabels" chart-options="chartOptions"></canvas>
                    </div>
                </div>
            </div>
            <hr/>
            <div id="messages">
                <h3>Messages</h3>
                <table st-table="tableData" class="table table-striped">
            		<thead>
                		<tr>
                			<th st-sort="firstName">First Name</th>
                			<th st-sort="lastName">Last Name</th>
                            <th st-sort="mobileNumber">Mobile</th>
                            <th st-sort="chosenOption">Option</th>
                            <th st-sort="lastMessage">Last Reply</th>
                            <th st-sort="lastMessageTime">Received</th>
                		</tr>
                        <tr>
                			<th colspan="6">
                				<input st-search placeholder="Global Search" class="form-control" type="search"/>
                			</th>
                		</tr>
            		</thead>
            		<tbody>
                		<tr ng-repeat="row in tableData">
                			<td>{{row.firstName}}</td>
                			<td>{{row.lastName}}</td>
                			<td>{{row.mobileNumber}}</td>
                			<td>{{row.chosenOption}}</td>
                            <td>{{row.lastMessage}}</td>
                            <td>{{row.lastMessageTime}}</td>
                		</tr>
            		</tbody>
            		<tfoot>
            			<tr>
            				<td colspan="5" class="text-center">
            					<div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div>
            				</td>
            			</tr>
            		</tfoot>
        	    </table>
            </div>
        </div>
    </div>
</div>
